@import url(./css/global.css);
@import url(./css/cor.css);
@import url(./css/ultilidades.css);
@import url(./css/header.css);
@import url(./css/home.css);

.bicicletas-bg {
  background-color: #ffffff;
  color: #000000;
}
.bicicletas h2 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}
.bicicletas h2 span {
  color: #fb0;
}

.bicicletas {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bicicletas-item {
  display: flex;
  max-width: auto;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
